@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #222222;
}

h1 {
  text-wrap: balance;
}

@media (max-width: 765px) {
  .plan_container {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
  .card {
    min-width: 250px;
    height: 550px;
  }
  .cardTestimonio {
    min-width: 250px;
    height: 250px;
  }
}
